*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body{
    font-family: Raleway, sans-serif;
    background-color: #F5F5F5;
}
.profile-body{
    width: 40%;
    margin: auto;
    margin-top: 60px;
}

.image{
    display: block;
    margin: auto;
    width: 140px !important;
    height: 140px !important;
    position: absolute;
    top: 9%;
    left: 9%;
}
.image-body{
    width: 170px;
    height: 170px;
    margin: auto;
    position: relative;
    margin-top: 10px;
}
.name{
    color: #1a1a1a;
    margin-top: 10px;
    margin-bottom: 0 !important;
}

.job{
    font-size: 18px;
}
.facebook, .instagram, .twitter, .linkedin{
    width: 40px;
    height: 40px;
    margin: 10px;
    position: relative;
}
.socials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.instagram{
    margin-right: 5px !important;
}
.fa-brands.fa-facebook-f{
    font-size: 1em;
    position: absolute;
    top: 12px;
    color: #1877f2;
}
.fa-brands.fa-x-twitter, .fa-brands.fa-instagram, .fa-brands.fa-linkedin-in{
    font-size: 1em;
    position: absolute;
    top: 12px;
    left: 13px;
}
.fa-brands.fa-x-twitter{
    color: #1DA1F2;
}
.fa-brands.fa-instagram{
    color: #E1306C;
}
.fa-brands.fa-linkedin-in{
    color: #0A66C2;
}
.num{
    width: 190px;
    height: 80px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.contact-box{
    margin: auto;
}
@media (max-width: 475px) {
    .profile-body{
        width: 80%;
       } 
    .myemail, .mynum{
        font-size: small;
    }
    .profile-container{
        width: 80%;
    }
 }
 @media (max-width: 654px) {
    .profile-body{
        width: 50%;
    }
 }